.custom-ion-card {
     width: 300px !important;
}

.byUser {
    margin: 0
}

.logo {
    height: 35px;
    top: 15px;
    position: fixed;
    left: 50%;
    margin-left: -68px;
}

.logo:hover {
    cursor: pointer;
}

.leftButton {
    margin-left: 40px;
}
