<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-chip outline routerLink="/profile/me" *ngIf="isLoggedIn && !isMe">
                <ion-avatar>
                    <img src="../../assets/defaultAvatar.png">
                </ion-avatar>
                <ion-label>
                    {{ currentUser.username }}
                </ion-label>
            </ion-chip>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="auto">
                <ion-card>
                    <ion-grid>
                        <ion-row class="ion-padding">
                            <ion-col size="auto">
                                <ion-avatar class="useravatar ion-padding">
                                    <img [src]="userImage" *ngIf="userHasImage">
                                    <img src="../../assets/defaultAvatar.png" *ngIf="!userHasImage">
                                </ion-avatar>
                            </ion-col>
                            <ion-col size="auto" *ngIf="!isEditing">
                                <h2>{{profile.firstname + " " + profile.lastname}}</h2>
                                <p>{{profile.username}}</p>
                                <p>Bio:<br><br> {{profile.bio}}</p>
                                <ion-button *ngIf="isMe" expand="block" color="light" (click)="editProfilePage()">
                                    Edit
                                    <ion-icon name="create" class="ion-padding"></ion-icon>
                                </ion-button>
                                <a href="mailto:{{ profile.email }}?subject=feedback" *ngIf="!isMe && isLoggedIn">
                                    <ion-button>
                                        Send {{ profile.firstname }} an email
                                        <ion-icon name="mail" class="ion-padding"></ion-icon>
                                    </ion-button>
                                </a>
                            </ion-col>
                            <ion-col size="auto" *ngIf="isEditing">
                                <form (ngSubmit)="saveProfile(event)" novalidate [formGroup]="editForm">
                                    <p>Edit user information:</p>
                                    <ion-item>
                                        <ion-label color="primary">First Name</ion-label>
                                        <ion-input name="firstname" formControlName="firstname" type="text" inputmode="text" required></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label color="primary">Last Name</ion-label>
                                        <ion-input name="lastname" formControlName="lastname" type="text" inputmode="text" required></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label color="primary">Upload a picture</ion-label>
                                        <ion-input formControlName="file" name="user_image" type="file" accept="image/*" (change)="processImage($event)"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label color="primary">Bio</ion-label>
                                        <ion-textarea name="bio" formControlName="bio" type="text" inputmode="text" rows="2" maxlength="500"></ion-textarea>
                                    </ion-item>
                                    <ion-button type="submit" expand="block" class="submitButton" [disabled]="editForm.invalid">Save</ion-button>
                                </form>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-title *ngIf="isMe">My Services</ion-title>
            <ion-title *ngIf="!isMe">{{ profile.username }}'s Services</ion-title>
        </ion-row>
        <div class="horizontalScroll">
            <ion-row class="ion-justify-content-start" nowrap>
                <ion-col *ngIf="isMe" size="auto">
                    <ion-card routerLink="/service-creator" class="custom-ion-card">
                        <ion-card-header color="primary">
                            <p class="ion-text-center">
                                Add a Service<br>
                                <ion-icon name="add-circle-outline" class="ion-padding" size="large"></ion-icon>
                            </p>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col *ngFor="let serviceCard of optimizedServices" size="auto">
                    <ion-card class="custom-ion-card">
                        <img [src]="serviceCard.image" *ngIf="serviceCard.hasImage">
                        <ion-card-header routerLink="/service/{{ serviceCard.service.id }}">
                            <ion-card-title routerLink="/service/{{ serviceCard.service.id }}">{{ serviceCard.service.title }}</ion-card-title>
                            <ion-card-subtitle class="custiom-ion-card-subtitle">{{ serviceCard.service.description }}</ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                            <p>Price: {{ serviceCard.service.price }}</p>
                            <p>Tags:
                                <ion-chip outline color="primary" *ngFor="let tag of serviceCard.service.tags">
                                    <ion-label>{{ tag }}</ion-label>
                                </ion-chip>
                            </p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <p *ngIf="services.length === 0 && !isMe">This user does not currently offer any services.</p>
            </ion-row>
        </div>
    </ion-grid>

    <ion-grid *ngIf="isMe">
        <ion-row>
            <ion-title>My Events</ion-title>
        </ion-row>
        <div class="horizontalScroll">
            <ion-row class="ion-justify-content-start" nowrap>
                <ion-col size="auto">
                    <ion-card routerLink="/event-creator" class="custom-ion-card">
                        <ion-card-header color="primary">
                            <p class="ion-text-center">
                                Add an Event<br>
                                <ion-icon name="add-circle-outline" class="ion-padding" size="large"></ion-icon>
                            </p>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="auto" *ngFor="let event of events">
                    <ion-card class="custom-ion-card">
                        <ion-card-header routerLink="/event/{{ event.id }}">
                            <ion-card-title>{{ event.name }}</ion-card-title>
                            <ion-card-subtitle>{{ event.description }}</ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-card *ngFor="let service of event.services">
                                <ion-card-header routerLink="/service/{{ service.id }}">{{ service.title }}</ion-card-header>
                            </ion-card>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
