.useravatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.horizontalScroll {
    overflow-x: auto;
}

.custom-ion-card-subtitle {
    display: flex !important;
    flex-wrap: wrap !important;
}
.custom-ion-card {
     width: 300px !important;
}

.custom-ion-card > img:hover {
    cursor: pointer
}

.custom-ion-card > ion-card-header:hover {
    cursor: pointer;
}
