<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Explore
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="filterByTitle($event)"(ionClear)="resetSearch()"></ion-searchbar>
    <ion-label>Tags</ion-label>
    <ion-input placeholder="Enter different Tags. Separated by a comma"type="search" [(ngModel)]="searchTags" (ionChange)="filterByTags($event)" (ionClear)="resetSearch()" (keyup)="tagsParser($event)"></ion-input>
    <ion-item>
        <ion-label color="primary">Marked tags:</ion-label>
        <ion-chip outline color="primary" *ngFor="let c of chips">
            <ion-label>{{c}}</ion-label>
            <ion-icon name="close-circle" (click)="deleteChip(c)"></ion-icon>
        </ion-chip>
    </ion-item>
    <ion-button (click)="clearTags()">Clear Tags</ion-button>

    <ion-grid >
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                <div *ngFor="let service of services">
                    <app-service-card [service]="service"></app-service-card>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
