<ion-header>
    <ion-toolbar>
        <ion-title>
            Explore
        </ion-title>
        <ion-buttons slot="end">
            <ion-chip routerLink="/profile/me" *ngIf="isLoggedIn" color="primary">
                <ion-avatar>
                    <img src="../../assets/defaultAvatar.png">
                </ion-avatar>
                <ion-label>
                    {{ currentUser.username }}
                </ion-label>
            </ion-chip>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                    <ion-chip color="primary" (click)="switchSearch()">
                        <ion-label>Search by: {{ searchType }}</ion-label>
                    </ion-chip>
                </ion-col>
                <ion-col>
                    <form [formGroup]="searchForm">
                        <ion-searchbar  *ngIf="!tagsSearch" formControlName="query" (ionChange)="filterByTitle(event)" (ionClear)="clearSearch" placeholder="Search services by Title"></ion-searchbar>
                        <ion-searchbar *ngIf="tagsSearch" formControlName="tags" placeholder="Search services by Tags. Separate them by a comma ','." (ionClear)="clearTags()" (ionChange)="tagsParser(event)"></ion-searchbar>
                    </form>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                    <ion-chip *ngIf="searchTerm" color="primary">
                        <ion-label>Searching by: {{ searchTerm }}</ion-label>
                        <ion-icon name="close-circle" (click)="clearSearch()"></ion-icon>
                    </ion-chip>
                </ion-col>
                <ion-col size="auto">
                    <ion-chip *ngIf="chips.length > 0" color="danger" (click)="clearTags()">Clear Tags</ion-chip>
                    <ion-chip color="primary" *ngFor="let c of chips">
                        <ion-label>{{c}}</ion-label>
                        <ion-icon name="close-circle" (click)="deleteChip(c)"></ion-icon>
                    </ion-chip>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <div *ngFor="let service of servicesToDisplay">
                <ion-col size="auto">
                    <app-service-card [service]="service"></app-service-card>
                </ion-col>
            </div>
            <div *ngIf="servicesToDisplay.length === 0">
                <p>No results were found for your search. But here, have a slice of pizza...<ion-icon name="pizza" size="large"></ion-icon></p>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>
