<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Explore
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar></ion-searchbar>
    <ion-grid>
        <ion-row>
            <app-service-card></app-service-card>
        </ion-row>
        <ion-row>
            <app-service-card></app-service-card>
        </ion-row>
        <ion-row>
            <app-service-card></app-service-card>
        </ion-row>
    </ion-grid>

    <ion-grid *ngFor="let s of services">
        <ion-row>
            <app-service-card></app-service-card>
        </ion-row>
    </ion-grid>

</ion-content>
