<ion-app>
    <ion-menu contentId="main-content" type="overlay" side="end">

        <ion-header>
            <ion-toolbar>
                <ion-title class="ion-float-left">Menu</ion-title>
                <ion-menu-toggle><ion-icon class="ion-float-right" name="close"></ion-icon></ion-menu-toggle>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list *ngIf="role == 'Admin'">
                <ion-menu-toggle auto-hide="false" *ngFor="let p of adminPages">
                    <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
            <ion-list *ngIf="role == 'User'">
                <ion-menu-toggle auto-hide="false" *ngFor="let p of userPages">
                    <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
            <ion-list *ngIf="role == 'None'">
                <ion-menu-toggle auto-hide="false" *ngFor="let p of publicPages">
                    <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
