<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Service
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Service: {{service.title}}</h2>
          <p *ngIf="!isMyService">by <a routerLink="/profile/{{service.userId}}">{{serviceUser.username}}</a></p>
          <ion-label position="floating">Service description:</ion-label>
          <p>{{service.description}}</p>
          <p>{{service.price}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button *ngIf="isMyService" size="default" expand="block" color="light">
            <ion-icon name="cog"></ion-icon>
          </ion-button>
          <ion-button *ngIf="!isMyService" size="default" expand="block" color="light">
            Add to Event
            <ion-icon name="add-circle" color="primary" class="ion-padding"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
