<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Service
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="body">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>[servicename]</h2>
          <p>by [username]</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea align-self-stretch></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button size="default" expand="block" color="light">
            <ion-icon name="cog"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
