<ion-header>
    <ion-toolbar>
        <ion-title>
            Login
        </ion-title>
        <img src="../assets/logo.svg" class="logo" routerLink="/explore">
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                <form (ngSubmit)="login(event)" [formGroup]="loginForm">
                    <h3 class="ion-text-center">Login</h3>
                    <ion-row class="ion-justify-content-center red" *ngIf="loginFailed">
                        Incorrect email/username or password.
                    </ion-row>
                    <ion-item>
                        <ion-label color="primary">Email or username</ion-label>
                        <ion-input name="login" type="email" formControlName="login" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color="primary">Password</ion-label>
                        <ion-input name="password" type="password" formControlName="password" required></ion-input>
                    </ion-item>
                    <ion-button type="submit" [disabled]="loginForm.invalid" expand="block">Login</ion-button>
                </form>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <p class="ion-text-center">
                If you don't have an account, please <a routerLink='/registration'>
                    register here</a> first!
            </p>
        </ion-row>
    </ion-grid>
</ion-content>
