ion-card-subtitle {
   display: flex !important;
   flex-wrap: wrap !important;
}

ion-card {
     width: 300px !important;
}

ion-card > img:hover {
    cursor: pointer
}

ion-card-header:hover {
    cursor: pointer;
}

.byUser {
    margin: 0
}
