<ion-card class="activated">
    <a href="/service/{{ service.id }}">
        <img [src]="serviceImage" *ngIf="serviceHasImage"/>
    </a>
    <ion-card-header routerLink="/service/{{ service.id }}">
        <ion-card-title>{{ service.title }}</ion-card-title>
        <ion-card-subtitle>
            {{ service.description }}
            <br><br>
            Price: {{ service.price }}.-
        </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <p>by <a href="/profile/{{ service.userId }}" color="primary">{{ service.username }}</a></p>
        <br>
        <ion-chip outline color="primary" *ngFor="let tag of service.tags" (click)="createChip(tag)">
            <ion-label>{{ tag }}</ion-label>
        </ion-chip>
    </ion-card-content>
</ion-card>
