<ion-card class="activated">
    <ion-card-header routerLink="/service/{{serviceCard.service.id}}">
        <ion-card-title>{{ serviceCard.service.title }}</ion-card-title>
        <ion-card-subtitle>{{ serviceCard.service.description }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <p>by <a routerLink="/profile/{{ serviceCard.service.userId }}" color="primary">{{ serviceCard.username }}</a></p>
        <br>
        <ion-chip outline color="primary" *ngFor="let tag of serviceCard.service.tags">
            <ion-label>{{tag}}</ion-label>
        </ion-chip>
    </ion-card-content>
</ion-card>
