<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-chip routerLink="/profile/me" *ngIf="isLoggedIn" color="primary">
                <ion-icon name="contact"></ion-icon>
                <ion-label>
                    {{ currentUser.username }}
                </ion-label>
            </ion-chip>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Admin Panel
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <h1 class="ion-padding">Enjoy your good-for-nothing privileges :)</h1>
</ion-content>
