.error {
    color: rgb(223, 62, 62);
    font-size: 11px;
}

.error1 {
    color: rgb(75, 75, 75);
}
ion-input{
    border-bottom: solid 2px darkgrey;
}
ion-grid{
    width: 500px;
    align-self:center;
    align-items: center;
}
.submitButton{
    margin: 10px;
    margin-bottom: 20px;
}
