<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>welcome to our garbage app have a look around</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>also please sign up ok thamks</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=2>
        <ion-button size="default" expand="block" routerLink="/login">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=2>
        <ion-button size="default" expand="block" routerLink="/registration">Register</ion-button>
      </ion-col>
      <ion-col size=1>
        <ion-button size="default" expand="block" color="light">
          <ion-icon name="cog"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
