<ion-header>
  <ion-toolbar>
    <ion-title>
      event management app or something
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-text>
        welcome to our garbage app have a look around
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text>also please sign up ok thamks</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button size="default" expand="block" routerLink="/login">Login</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button size="default" expand="block" routerLink="/registration">Register</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button size="default" expand="block" color="light">
        <ion-icon name="cog" routerLink="/userlist"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>