<ion-content fullscreen padding scroll-y="false">
    <ion-slides pager="true"  [options]="slideOpts" autoplay="false" #slides>
    	<ion-slide>
    				<ion-card class="cardHome">
    					<ion-card-header class="cardheader">
    						General
    					</ion-card-header>
    					<ion-card-content>
    						<ion-item class="itemName">
                                <form (ngSubmit)="processForm(event)" novalidate  [formGroup]="serviceForm1">
                                    <ion-label color="primary">Title</ion-label>
                                    <ion-input name="title" type="text" required [(ngModel)]="service.title" formControlName="title" [class.error1]="!serviceForm1.controls.title.valid && serviceForm1.controls.title.dirty" placeholder="Enter the title of your service"></ion-input>
                                    <textarea name="serviceDescription" type="text" required  formControlName="serviceDescription" [class.error1]="!serviceForm1.controls.serviceDescription.valid && serviceForm1.controls.serviceDescription.dirty"placeholder="Describe your Service in a few words" rows="8" cols="80" maxlength="200"></textarea>
                                </form>
    						</ion-item>
    					</ion-card-content>
    				</ion-card>
        </ion-slide>
        <ion-slide>
                    <ion-card class="cardHome">
    					<ion-card-header class="cardheader">
    						General
    					</ion-card-header>
    					<ion-card-content>
    						<ion-item class="itemName">
                                <form (ngSubmit)="processForm(event)" novalidate  [formGroup]="serviceForm2">
                                    <ion-label color="primary">Title</ion-label>
                                    <ion-input name="title" type="text" required [(ngModel)]="service.title" formControlName="title" [class.error1]="!serviceForm2.controls.title.valid && serviceForm2.controls.title.dirty" placeholder="Enter the title of your service"></ion-input>
                                    <textarea name="serviceDescription" rows="8" cols="80"></textarea>
                                </form>
    						</ion-item>
    					</ion-card-content>
    				</ion-card>
    	</ion-slide>
        <ion-slide>
                    <ion-card class="cardHome">
    					<ion-card-header class="cardheader">
    						General
    					</ion-card-header>
    					<ion-card-content>
    						<ion-item class="itemName">
                                <form (ngSubmit)="processForm(event)" novalidate  [formGroup]="serviceForm3">
                                    <ion-label color="primary">Title</ion-label>
                                    <ion-input name="title" type="text" required [(ngModel)]="service.title" formControlName="title" [class.error1]="!serviceForm3.controls.title.valid && serviceForm3.controls.title.dirty" placeholder="Enter the title of your service"></ion-input>
                                    <textarea name="serviceDescription" type="text" required  formControlName="serviceDescription" [class.error1]="!serviceForm3.controls.serviceDescription.valid && serviceForm3.controls.serviceDescription.dirty"placeholder="Describe your Service in a few words" rows="8" cols="80" maxlength="200"></textarea>
                                    <ion-button type="submit" expand="block" class="submitButton" [disabled]="serviceForm1.invalid || serviceForm2.invalid || serviceForm3.invalid" >Create Service</ion-button>
                                </form>
    						</ion-item>
    					</ion-card-content>
    				</ion-card>
    	</ion-slide>
    </ion-slides>
    <ion-button type="submit" color="primary" class="swiper-button-prev" (click)="prevSlide()"><</ion-button>
    <ion-button type="submit"  color="primary" class="swiper-button-next" (click)="nextSlide()">></ion-button>
</ion-content>
